body{

font-family: Arial;

margin:0;

background-color:#f4f4f4;

}

.logo{
    width:15px;
    height:auto;
}

.navbar{

display:flex;

justify-content:space-between;

background:black;

color:white;

padding:15px;

}

.navbar a{

color:white;

margin:10px;

text-decoration:none;

}

.profile{

text-align:center;

padding:40px;

}

button{

background:blue;

color:white;

border:none;

padding:10px;

border-radius:5px;

cursor:pointer;

}

.container{

display:flex;

justify-content:center;

gap:20px;

padding:20px;

}

.box{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 0 5px gray;

}

.contact{

text-align:center;

padding:30px;

}

footer{

background:black;

color:white;

text-align:center;

padding:10px;

margin-top:20px;

}
